<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="EB8E8A65-D0F2-4739-9D41-592EF8B9DB8D"
           Name="Mastersign AutoForm"
           Manufacturer="Tobias Kiertscher"
           Language="1033"
           Version="1.0.0.0"
           UpgradeCode="73A23A01-93DF-4500-A004-E9C12329B266">

    <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- https://www.firegiant.com/wix/tutorial/user-interface/ui-wizardry/ -->
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Icon Id="AutoForm.ico" SourceFile="$(var.Mastersign.AutoForm.ProjectDir)\Icon.ico" />

    <Feature Id="Complete" Title="Mastersign AutoForm"
             Description="Excel based automated web form filling"
             Level="1"
             ConfigurableDirectory="INSTALLFOLDER">
      
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MastersignFolder" Name="Mastersign">
          <Directory Id="INSTALLFOLDER" Name="AutoForm" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Mastersign AutoForm" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="3B1B5A38-8FFD-4AFB-B909-C3256EEABBCA">
        <File Id="MainEXE" KeyPath="yes" Name="AutoForm.exe" Source="$(var.Mastersign.AutoForm.TargetPath)">
          <Shortcut Id="startmenuMainProgram" Directory="ProgramMenuDir" Name="AutoForm"
                    WorkingDirectory="INSTALLDIR" Icon="AutoForm.ico" IconIndex="0" Advertise="yes" />
        </File>
        <File Id="MainCONFIG" Name="AutoForm.exe.config" Source="$(var.Mastersign.AutoForm.TargetPath).config" />
        <RemoveFolder Id="ProgramMenuDir" On="uninstall" Directory="ProgramMenuDir" />
      </Component>

      <Component Id="DependencyMaterialIcons" Guid="39DE66DC-271B-4340-AAAF-7E72AB42F348">
        <File Id="MaterialIconsDLL" KeyPath="yes" Name="Material.Icons.dll" Source="$(var.Mastersign.AutoForm.TargetDir)\Material.Icons.dll" />
        <File Id="MaterialIconsWpfDLL" Name="Material.Icons.WPF.dll" Source="$(var.Mastersign.AutoForm.TargetDir)\Material.Icons.WPF.dll" />
      </Component>
      
      <Component Id="DependencyClosedXML" Guid="15D76570-4063-4542-A1BC-C2BAA7C875F1">
        <File Id="ClosedXmlDLL" KeyPath="yes" Name="ClosedXML.dll" Source="$(var.Mastersign.AutoForm.TargetDir)\ClosedXML.dll" />
        <File Id="DocumentFormatOpenXmlDLL" Name="DocumentFormat.OpenXml.dll" Source="$(var.Mastersign.AutoForm.TargetDir)\DocumentFormat.OpenXml.dll" />
        <File Id="ExcelNumberFormatDLL" Name="ExcelNumberFormat.dll" Source="$(var.Mastersign.AutoForm.TargetDir)\ExcelNumberFormat.dll" />
      </Component>

      <Component Id="DependencyPuppeteerSharp" Guid="5BB3C550-957B-4E92-A0CB-BEAED5E4BF73">
        <File Id="PuppeteerSharpDLL" KeyPath="yes" Name="PuppeteerSharp.dll" Source="$(var.Mastersign.AutoForm.TargetDir)\PuppeteerSharp.dll" />
      </Component>

      <Component Id="DependencyNewtonsoftJson" Guid="CB275321-0991-4D8D-A710-0C47F5108050">
        <File Id="NewtonsoftJsonDLL" KeyPath="yes" Name="Newtonsoft.Json.dll" Source="$(var.Mastersign.AutoForm.TargetDir)Newtonsoft.Json.dll" />
      </Component>

      <Component Id="DependencySharpZipLib" Guid="66BB3491-D8B4-4362-B13D-8A997B65B11D">
        <File Id="SharpZipLibDLL" KeyPath="yes" Name="ICSharpCode.SharpZipLib.dll" Source="$(var.Mastersign.AutoForm.TargetDir)ICSharpCode.SharpZipLib.dll" />
      </Component>

      <Component Id="SystemDependencies" Guid="47EFFD33-DF52-4B4A-AFC6-D803B543CD16">
        <File Id="NetstandardDLL" KeyPath="yes" Name="netstandard.dll" Source="$(var.Mastersign.AutoForm.TargetDir)netstandard.dll" />
      </Component>
      
      <?include SystemComponents.xml ?>
 
  </ComponentGroup>
  </Fragment>
</Wix>
