<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="*"
           Name="Mastersign AutoForm"
           Manufacturer="Tobias Kiertscher"
           Language="1033"
           Version="1.1.0"
           UpgradeCode="{73A23A01-93DF-4500-A004-E9C12329B266}">

    <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- Settings for Installer UI -->
    <!-- https://www.firegiant.com/wix/tutorial/user-interface/ui-wizardry/ -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)..\LICENSE.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
    </UI>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <!-- Retrieve INSTALLFOLDER from previous install -->
    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id="GetPreviousInstallFolder"
                      Root="HKCU" Key="Software\Mastersign\AutoForm" Name="InstallFolder" Type="raw" />
    </Property>

    <!-- Product Icon -->
    <Icon Id="AutoForm.ico" SourceFile="$(var.Mastersign.AutoForm.ProjectDir)\Icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AutoForm.ico" />
    
    <!-- Pre-Installation Checks -->
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED"/>
    <Condition Message="This application requires .NET Framework 4.7.2 or later. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED]]>
    </Condition>

    <MediaTemplate EmbedCab="yes" />

    <!-- Features -->
    <Feature Id="Complete" Title="Mastersign AutoForm"
             Description="Excel based automated web form filling"
             Level="1"
             ConfigurableDirectory="INSTALLFOLDER">
      
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
 
  </Product>

  <!-- Folderstructure -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!--
      When installing in scope perMachine, you may use ProgramFiles6432Folder,
      to automatically choose install root by OS arch for AnyCPU assemblies
      -->
      <Directory Id="AppDataFolder">
        <Directory Id="VendorFolder" Name="Mastersign">
          <Directory Id="INSTALLFOLDER" Name="AutoForm" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Mastersign AutoForm" />
      </Directory>
    </Directory>
  </Fragment>

  <!-- Components -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      <Component Id="ProductComponent" Guid="{053B35E0-8F38-4B4B-A03A-3AC2C95859E0}">
        <RegistryKey Root="HKCU" Key="Software\Mastersign\AutoForm">
          <RegistryValue KeyPath="yes"
                         Name="MainExe" Type="string"
                         Value="[INSTALLFOLDER]$(var.Mastersign.AutoForm.TargetFileName)" />
        </RegistryKey>

        <File Id="MainEXE" KeyPath="no"
              Source="$(var.Mastersign.AutoForm.TargetPath)">
          <Shortcut Id="startmenuMainProgram"
                    Directory="ProgramMenuDir" Name="AutoForm"
                    WorkingDirectory="INSTALLFOLDER" Icon="AutoForm.ico" IconIndex="0" />
        </File>
        
        <File Id="MainCONFIG" 
              Source="$(var.Mastersign.AutoForm.TargetPath).config" />

        <RemoveFolder Id="ProgramMenuDir" On="uninstall" Directory="ProgramMenuDir" />
        <RemoveFolder Id="VendorFolder" On="uninstall" Directory="VendorFolder" />
        <RemoveFolder Id="InstallFolder" On="uninstall" Directory="INSTALLFOLDER" />
      </Component>

      <Component Id="DependenciesComponent" Guid="{73A8727B-9921-4499-B190-9D2A254C3E16}">
        <RegistryKey Root="HKCU" Key="Software\Mastersign\AutoForm">
          <!-- set entry InstallFolder to store INSTALLFOLDER for update/uninstall -->
          <RegistryValue KeyPath="yes"
                         Name="InstallFolder" Type="string"
                         Value="[INSTALLFOLDER]" />
        </RegistryKey>
        <?include DependencyFiles.wxi ?>
      </Component>
 
    </ComponentGroup>
  </Fragment>
  
  <!-- .NET Framework 4.7.2 Check Shim for WiX 3.11 -->
  <Fragment>
    <?define NetFx472MinRelease = 461808 ?>
    <PropertyRef Id="WIXNETFX4RELEASEINSTALLED" />
    <Property Id="WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED" Secure="yes" />
    <SetProperty Id="WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED" Value="1" After="AppSearch">
      WIXNETFX4RELEASEINSTALLED >= "#$(var.NetFx472MinRelease)"
    </SetProperty>
  </Fragment>

</Wix>
